.pgn__card .pgn__card-wrapper-image-cap.vertical {
    min-height: 140px;
    // background-color: $gray-100;
}

.course-name {
    min-height: 48px;
}

.pgn__card .pgn__card-image-cap {
    display: block;
}

.pgn__card .pgn__card-wrapper-image-cap .pgn__card-logo-cap {
    display: block;
}

.course-snapshot .pgn__icon {
    height: 48px;
    width: 48px;
}

.btn-outline-primary {
    border-color: rgba(69, 69, 69, 0.6);
}

.collapsible-body {
    .form-group:first-child {
        margin-top: 16px;;
    }
}

.padding-bottom {
    padding-bottom: 320px;
}